.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.characterCard {
    margin: 20px;
    width: 250px;
    height: 350px;
    background-color: rgb(78, 214, 214);
    border: solid black 4px;
    font: white;
    box-shadow: inset 0 0 10px yellow;
    border-radius: 10px;
}

.image {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border: solid white 2px;
    border-radius: 300px;
}

.image:hover {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(68, 67, 67);
}

.charInfo {
    margin-left: 4px;
    margin-right: 4px;
    border-top: solid black 1px;
    background-color: rgb(231, 231, 59);
}

.logo {
    width: 400px;
    margin-bottom: -7px;
}

.searchBar {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 80%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

button.button {
    display: inline-block;
    padding: 10px 40px;
    font-size: medium;
    border: 1px solid black;
    margin: 10px 80px;
    border-radius: 2px;
    color: black;
    text-align: center;
    background-color: white;
    font-family: 'Coming Soon', cursive;
}

button.button:hover {
    color: white;
    background-color: black;
    font-family: 'Coming Soon', cursive;
}

a {
    cursor: url(../misc/Plumbus.png), auto;
    text-decoration: none;
    color: black;
}