.container{
    display: flex;
    justify-content: center;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px yellow;
    background-color: rgb(78, 214, 214);
}

.image{
    margin: 20px;
    border: solid white 2px;
    box-shadow: 10px 10px 5px rgb(68, 67, 67);

}

.info{
    flex-grow: 2;
    margin: 40px;
    list-style-type: none;
    text-align: left;
    cursor: default;
}

.logo{
    width: 400px;
    cursor: pointer;
    margin-bottom: -7px;
}